@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.ProseMirror {
  color: #cdd6f4;
  /* Catppuccin text color */
  caret-color: #cdd6f4;
  font-size: 1rem;
  line-height: 1.5;
}

.ProseMirror p.is-empty::before {
  color: #a6adc8;
  opacity: 0.5;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.tiptap-editor {
  border: 0px solid;
  border-radius: 30px;
  padding: 1rem;
  font-size: 1rem;
  background: #212121;
  border-radius: 30px;

  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
  height: 1000px;
}

.markdown-editor {
  background-color: #212121;
  color: whitesmoke;
  border-radius: 30px;
  padding: 15px;
  cursor: var(--foreground-rgb);
  height: auto;

}

.tiptap.ProseMirror {
  outline: none;
  border: none;
  background: transparent;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 4px;
}

.tiptap :first-child {
  margin-top: 10px;
}

.tiptap ul,
.tiptap ol {
  padding: 0 1rem;
  margin: 1.25rem 1rem 1.25rem 0.4rem;
}

.tiptap ul li p,
.tiptap ol li p {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.tiptap h1,
.tiptap h2,
.tiptap h3,
.tiptap h4,
.tiptap h5,
.tiptap h6 {
  line-height: 1.1;
  margin-top: 2.5rem;
  text-wrap: pretty;
}

.tiptap h1,
.tiptap h2 {
  margin-top: 3.5rem;
  margin-bottom: 1.5rem;
}

.tiptap h1 {
  font-size: 2.5rem;
}

.tiptap h2 {
  font-size: 2rem;
}

.tiptap h3 {
  font-size: 1.75rem;
}

.tiptap h4 {
  font-size: 1.5rem;
}

.tiptap h5 {
  font-size: 1.25rem;
}

.tiptap h6 {
  font-size: 1rem;
}

.tiptap code {
  background-color: rgb(69, 69, 69);
  border-radius: 0.4rem;
  color: var(--black);
  font-size: 0.85rem;
  padding: 0.25em 0.3em;
}

.tiptap pre {
  background: var(--gray-2);
  border-radius: 0.5rem;

  font-family: 'JetBrainsMono', monospace;
  margin: 1.5rem 0;
  padding: 0.75rem 1rem;
}

.tiptap pre code {
  background: none;
  color: inherit;
  font-size: 0.8rem;
  padding: 0;
}

.tiptap mark {
  background-color: #b8e0ff;
  border-radius: 0.4rem;
  box-decoration-break: clone;
  padding: 0.1rem 0.3rem;
}

.tiptap blockquote {

  margin: 1.5rem 0;
  padding-left: 1rem;
}


.horizontal-rule-custom {
  border-top: 1px solid white;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}


.collaboration-cursor__caret {
  border-left: 1px solid #0d0d0d;
  border-right: 1px solid #0d0d0d;
  margin-left: -1px;
  margin-right: -1px;
  pointer-events: none;
  position: relative;
  word-break: normal;
}

.collaboration-cursor__label {
  border-radius: 3px 3px 3px 0;
  color: #0d0d0d;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  left: -1px;
  line-height: normal;
  padding: 0.1rem 0.3rem;
  position: absolute;
  top: -1.4em;
  user-select: none;
  white-space: nowrap;
}