@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {

  font-family: monospace;
  margin: 0;
  padding: 30px;
  border-radius: 24px;
  background: #181818;

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.tiptap-editor {
  border: 0px solid;
  border-radius: 30px;
  padding: 1rem;
  font-size: 1rem;
  background: #212121;
  border-radius: 30px;

  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
  height: 1000px;
}

.markdown-editor{
  background-color: #212121;
  color: whitesmoke;
  border-radius: 30px;
  padding: 15px;
  cursor:var(--foreground-rgb);
  height: auto;

}

.tiptap.ProseMirror {
  outline: none; 
  border: none; 
  background: transparent; 
  padding: 1rem; 
  font-size: 1rem;
  border-radius: 4px; 
}

/* Basic editor styles */
.tiptap :first-child {
  margin-top: 10px;
}

/* List styles */
.tiptap ul, 
.tiptap ol {
  padding: 0 1rem;
  margin: 1.25rem 1rem 1.25rem 0.4rem;
}

.tiptap ul li p,
.tiptap ol li p {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

/* Heading styles */
.tiptap h1, 
.tiptap h2, 
.tiptap h3, 
.tiptap h4, 
.tiptap h5, 
.tiptap h6 {
  line-height: 1.1;
  margin-top: 2.5rem;
  text-wrap: pretty;
}

.tiptap h1, 
.tiptap h2 {
  margin-top: 3.5rem;
  margin-bottom: 1.5rem;
}

.tiptap h1 { 
  font-size: 2.5rem; 
}

.tiptap h2 { 
  font-size: 2rem; 
}

.tiptap h3 { 
  font-size: 1.75rem; 
}

.tiptap h4 { 
  font-size: 1.5rem; 
}

.tiptap h5 { 
  font-size: 1.25rem; 
}

.tiptap h6 { 
  font-size: 1rem; 
}

.tiptap code {
  background-color: rgb(69, 69, 69);
  border-radius: 0.4rem;
  color: var(--black);
  font-size: 0.85rem;
  padding: 0.25em 0.3em;
}

.tiptap pre {
  background: var(--gray-2);
  border-radius: 0.5rem;

  font-family: 'JetBrainsMono', monospace;
  margin: 1.5rem 0;
  padding: 0.75rem 1rem;
}

.tiptap pre code {
  background: none;
  color: inherit;
  font-size: 0.8rem;
  padding: 0;
}

.tiptap mark {
  background-color: #b8e0ff;
  border-radius: 0.4rem;
  box-decoration-break: clone;
  padding: 0.1rem 0.3rem;
}

.tiptap blockquote {

  margin: 1.5rem 0;
  padding-left: 1rem;
}


.horizontal-rule-custom {
  border-top: 1px solid white; 
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; 
}


.collaboration-cursor__caret {
  border-left: 1px solid #0d0d0d;
  border-right: 1px solid #0d0d0d;
  margin-left: -1px;
  margin-right: -1px;
  pointer-events: none;
  position: relative;
  word-break: normal;
}

/* Render the username above the caret */
.collaboration-cursor__label {
  border-radius: 3px 3px 3px 0;
  color: #0d0d0d;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  left: -1px;
  line-height: normal;
  padding: 0.1rem 0.3rem;
  position: absolute;
  top: -1.4em;
  user-select: none;
  white-space: nowrap;
}

/* Page container styles */
.page-container {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100vh;
    margin: 0;
  }
  
  /* Navbar styles */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #6b46c1; /* Navbar background color */
    color: white;
  }
  
  .navbar .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .navbar .room-id {
    font-size: 18px;
  }
  
  .navbar .invite-button {
    padding: 5px 10px;
    background-color: white;
    border: none;
    border-radius: 5px;
    color: #6b46c1;
    cursor: pointer;
  }
  
  /* Main content styles */
  .main-content {
    display: grid;
    grid-template-columns: 250px 1fr;
    overflow: hidden;
    margin: 10px;
    gap: 20px;
  }
  
  /* Sidebar styles */
  .sidebar {
    padding: 20px;
    background-color: #61596b;
    border-right: 1px solid #ddd;
    box-sizing: border-box;
    overflow-y: auto;
    border-radius: 10px;
  }
  
  .search-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    background-color:#212121;
    color: white;
  }
  
  .file-tree {
    display: flex;
    flex-direction: column;
  }
  
  .file-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    font-weight: bold;
  }
  
  /* Editor styles */
  .editor {
    padding: 20px;
    background-color: #1a202c; /* Editor background color */
    color: white; /* Text color */
    overflow-y: auto; /* Scroll if content exceeds */
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .editor h1 {
    margin: 0;
    padding: 0;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  